page-login {
    .content-ios{
        background-color: color($colors, grey);
    }

  ion-header{
      .toolbar-background-ios {
          background-color: color($colors, grey);
      }
      .toolbar-title-ios {
          color: white !important;
      }
  }

  ion-content {
    form {
        vertical-align: middle;
        margin-left: auto;
        margin-right: auto;
        max-width: 600px;
        margin-top: 30%;
        h2{
            color: white;
            margin-top: 40px;
            margin-bottom: 60px;
        }

        .item-block{
            margin-bottom: 20px;
            border-radius: 5px;
            font-size: small;
        }
        .login-button{
            align-content: right;
            color: color($colors, primary);
            .button{
                margin-bottom: 20px;
                width: 50%;
                }
        }
      .header {
        padding-bottom: 40px;
      }
      .button.button-light.active, .button.button-light.activated {
        color: #fff;
        opacity: inherit;
      }
    }
    footer{
        position: absolute;
        bottom: 30px;
        color: white;
    }
  }
}
