progress-bar {

  .progress-outer {
    height: 21px;
    width: 90%;
    margin: auto;
    padding: 2px;
    text-align: center;
    background-color: #f4f4f4;
    border: 1px solid #dcdcdc;
    color: #fff;
    border-radius: 10px;
  }

  .progress-inner {
    height: 15px;
    min-width: 15%;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 10px;
    background-color: map-get($colors, primary);
  }

}
