page-item-detail {
  .item-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 250px;
  }

  .item-detail {
    width: 100%;
    background: white;
    position: absolute;
  }

  ion-row {
    align-content: right;
    justify-content: right;
    justify-items: right;

  }

  footer{
    position: absolute;
    right: 5%;
    bottom: 10px;
    color: white;
    text-align: right;
    padding-left: 20px;
  }
}
