<ion-header>

  <ion-navbar>
    <img src="../../assets/img/logo.png">

    <ion-item end>
      <img src="../../assets/img/diamond.svg">
      <p>{{points}}</p>
    </ion-item>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list>
    <ion-item-sliding *ngFor="let item of exercises">
      <button ion-item (click)="openItem(item)">
        <ion-avatar item-start>
          <img [src]="item.profilePic" />
        </ion-avatar>
        <h2>{{item.name}}</h2>
        <p>{{item.about}}</p>
        <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
      </button>

      <ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(item)">
          Supprimer
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
