page-exercises {
  ion-navbar {
    img {
      width: 50px;
      height: 50px;
      margin: 5px 0 0 5px;
    }

    .toolbar-background {
      background: white;
    }

    .points {
      vertical-align: middle !important;
      font-size: 15px;
    }
  }

  ion-content {
    .goal {
      margin: 10px;
    }

    .title {
      font-size: 20px;
      font-weight: bold;
    }

    ion-scroll {
      overflow: scroll;
      width: 90vm;
      height: 300px;

      .card-ios {
        background-color: color($colors, grey);
      }

      ion-card {
        margin: 0;
        height: 250px;
        width: 150px;
        border-radius: 10px !important;
        box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.3) !important;

        button {
          margin: 5px;
          width: 150px;
          padding-top: 0;
          background-color: color($colors, grey);
          color: white;

          .col-avatar {
            padding-top: 20px;
          }

          .avatar {
            margin: auto !important;
            height: 60px;
            width: 60px;
            border-radius: 30px;
          }


          ion-icon {
            font-size: 22px;
            color: color($colors, primary);
          }

          .time {
            font-style: italic;
            font-size: 14px;
            color: white;
          }

          .exercise-info {
            width: 100%;

            .name {
              margin: 10px 0;
              font-size: 20px;
            }

            .instructions {
              text-align: left;
              max-height: 50px;
              overflow: scroll;
              text-overflow: ellipsis;
              white-space: inherit;
            }

            .chapter {
              font-style: italic;
            }

          }



        }
      }
    }


  }
}

