page-badges {

  img {
    width: 50px;
    height: 50px;
    margin: 5px 0 0 5px;
  }

  .toolbar-background {
    background: white;
  }

  ion-navbar {
    .points {
      vertical-align: middle !important;
      font-size: 15px;
    }
  }

  ion-content {
      .row{
          align-content: right;
      }

      button{
          background-color: color($colors, grey);
      }

      .lock{
          padding: 20px;
          width: 70px;
          height: 70px;
      }
      img {
        width: 70px;
        height: 70px;
      }
      .col{
          text-align: center;
          padding-bottom: 20px;
          padding-top: 20px;
          margin-left: auto;
          margin-right: auto;
      }
  }
}
