<ion-header>

  <ion-navbar>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <form [formGroup]="form" *ngIf="settingsReady">
    <ion-list>
      <ion-item-sliding *ngFor="let item of exercises">
        <button ion-item (click)="openItem(item)">
          <ion-avatar item-start>
            <img [src]="item.profilePic" />
          </ion-avatar>
          <h2>{{item.name}}</h2>
          <p>{{item.about}}</p>
          <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
        </button>

        <ion-item-options>
          <button ion-button color="danger" (click)="deleteItem(item)">
            Supprimer
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <!--<ion-list *ngIf="page == 'main'">-->
      <!--<ion-item>-->
        <!--<ion-label>Option1</ion-label>-->
        <!--<ion-toggle formControlName="option1"></ion-toggle>-->
      <!--</ion-item>-->

      <!--<ion-item>-->
        <!--<ion-label>Option2</ion-label>-->
        <!--<ion-input formControlName="option2"></ion-input>-->
      <!--</ion-item>-->

      <!--<ion-item>-->
        <!--<ion-label>Option3</ion-label>-->
        <!--<ion-select formControlName="option3">-->
          <!--<ion-option value="1" checked="true">1</ion-option>-->
          <!--<ion-option value="2">2</ion-option>-->
          <!--<ion-option value="3">3</ion-option>-->
        <!--</ion-select>-->
      <!--</ion-item>-->

      <!--<button ion-item [navPush]="subSettings" [navParams]="profileSettings">-->
        <!--Parametres du profil-->
      <!--</button>-->
    <!--</ion-list>-->

    <!--<ion-list *ngIf="page == 'profile'">-->
      <!--<ion-item>-->
        <!--<ion-label>Option4</ion-label>-->
        <!--<ion-input formControlName="option4"></ion-input>-->
      <!--</ion-item>-->
    <!--</ion-list>-->
  </form>

</ion-content>
