page-teacher-modal {

    .item-ios-light, .item-divider-ios{
        background-color: color($colors, primary);
        color : white;
        text-align: center;
    }

    #add{
        background-color: color($colors, primary);
    }
    .ion-icon{
        color: color($colors, primary);
    }
    .add{
        color: color($colors, primary);
    }
    #top{
        background-color: color($colors, grey);
    }
}
